{% block footer %}

	<footer>
		<div id="rose"></div>
        
		<div id="footer-droit">
			<div id="carte-de-visite">
				<div></div>
				<div></div>
				<div></div>
			</div>
			<div id="mention">
				<a href="">CGV</a>
				<p>&copy<span id="copyright">Devellopement By Orikham</span>
				</p>

			</div>
		</div>

	</footer>
{% endblock %}
