/******RESET*****/
* {
  margin: 0;
  padding: 0;
}

.row-limit-size {
  max-width: 1200px;
  width: 100%;
  margin: 50px auto;
}

a, ul, li, label {
  text-decoration: none;
  list-style: none;
}

button {
  outline: transparent;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/****************CSS*DESKTOP*********/
/*header*/
header {
  width: 100%;
  height: 200px;
  background-image: url("../img/branche-fond.png");
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header > #logo-lien-accueil {
  background-color: white;
}
header > #logo-lien-accueil > .logo {
  width: 300px;
  height: 200px;
}
header > #menus > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header > #menus > ul > li {
  margin: 0 15px;
}
header > #menus > ul > li > a {
  width: 100%;
  height: 200px;
  background-color: white;
  text-transform: uppercase;
  color: #367433;
  font-size: 1.2em;
}
header > #menus > ul > li > a:hover {
  border-bottom: 1px solid #89601e;
}

/*footer*/
footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f1f0f0;
}
footer > #footer-droit {
  width: 75%;
  display: flex;
  flex-direction: column;
}
footer > #footer-droit > #carte-de-visite {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer > #footer-droit > #carte-de-visite > #partie1 > h4 {
  color: #367433;
}
footer > #footer-droit > #carte-de-visite > #partie1 > p {
  width: 200px;
  color: #89601e;
}
footer > #footer-droit > #carte-de-visite > #partie2 > h4 {
  color: #367433;
}
footer > #footer-droit > #carte-de-visite > #partie2 > p {
  width: 200px;
  color: #89601e;
}
footer > #footer-droit > #carte-de-visite > #partie2 > a > button {
  width: 100px;
  height: 25px;
  background-color: #367433;
  color: white;
}
footer > #footer-droit > #carte-de-visite > #partie3 > h4 {
  color: #367433;
}
footer > #footer-droit > #carte-de-visite > #partie3 > p {
  width: 200px;
  color: #89601e;
}
footer > #footer-droit > #mentions {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer > #footer-droit > #mentions > h6 {
  color: #89601e;
}
footer > #footer-droit > #mentions > a {
  color: #89601e;
}
footer > #footer-droit > #mentions > p {
  color: #89601e;
}
footer > #footer-droit > #mentions > img {
  width: 20px;
  height: 20px;
}

/*section-accueil*/
#accueil > .carousel-content {
  display: flex;
}
#accueil > .carousel-content > .first-child {
  width: 100%;
}
#accueil > .carousel-content > .first-child > #slide1 {
  width: 100%;
}
#accueil > .carousel-content > .first-child > #slide1 > source {
  width: 1200px;
}
#accueil > .carousel-content > .first-child > #slide1 > aside {
  width: 500px;
  height: 300px;
  background-color: #d9d9d9;
  z-index: 10000;
}
#accueil > .carousel-content > .first-child > #slide1 > aside > .logo {
  width: 150px;
  height: 100px;
}
#accueil > .carousel-content > .second-child {
  width: 100%;
}
#accueil > .carousel-content > .second-child > #slide2 {
  width: 100%;
  height: 600px;
  display: flex;
}
#accueil > .carousel-content > .second-child > #slide2 > #slide2-left {
  width: 400px;
}
#accueil > .carousel-content > .second-child > #slide2 > #slide2-left > img {
  width: 400px;
}
#accueil > .carousel-content > .second-child > #slide2 > #slide2-middle {
  width: 400px;
}
#accueil > .carousel-content > .second-child > #slide2 > #slide2-middle > img {
  width: 400px;
  height: 100%;
  border-bottom: 4px solid #367433;
}
#accueil > .carousel-content > .second-child > #slide2 > #slide2-right {
  width: 400px;
}
#accueil > .carousel-content > .second-child > #slide2 > #slide2-right > img {
  width: 400px;
}
#accueil > .carousel-content > .last-child {
  width: 100%;
}
#accueil > .carousel-content > .last-child > #slide3 {
  width: 100%;
}
#accueil > #presentation {
  width: 100%;
  display: flex;
  background-image: url("../img/brown-point-fond.png");
  margin-top: 50px;
}
#accueil > #presentation > #bio {
  width: 50%;
  border: 1px solid #367433;
}
#accueil > #presentation > #bio > #prez {
  color: #367433;
}
#accueil > #presentation > #illustrations {
  width: 50%;
  border: 1px solid #367433;
}/*# sourceMappingURL=caultpaysages.css.map */