$cvert : #367433;
$cmarron : #89601e;
$noirounet : #020202;
$fond : #f1f0f0;
$cardSlide : #d9d9d9;

/******RESET*****/
* {
    margin: 0;
    padding: 0;
}

.row-limit-size {
    max-width: 1200px;
    width: 100%;
    margin: 50px auto;
}

// .row-limit-size-mobile {
//     max-width: 390px;
//     width: 100%;

// }

a,
ul,
li,
label {
    text-decoration: none;
    list-style: none;


}

button {
    outline: transparent;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/****************CSS*DESKTOP*********/
@media screen and (min-width: 1024px) {

    /*header*/

    .header-desktop {
        width: 100%;
        height: 100px;
        background-image: url('../img/branche-fond.png');
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &>#logo-lien-accueil {
            background-color: white;

            &>.logo {
                width: 300px;
                height: 100px;
            }
        }

        &>#menus-d {

            &>ul {

                display: flex;
                flex-direction: row;
                justify-content: space-between;


                &>li {

                    margin: 0 15px;

                    &>a {
                        width: 100%;
                        height: 200px;
                        background-color: white;
                        text-transform: uppercase;
                        color: $cvert ;
                        font-size: 1.2em;
                    }

                    &>a:hover {
                        border-bottom: 1px solid $cmarron;
                    }
                }
            }
        }

        &>#menus-burger {
            display: none;
        }
    }

    /*footer*/
    footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: $fond;



        &>#footer-droit {
            width: 75%;
            display: flex;
            flex-direction: column;

            &>#carte-de-visite {

                display: flex;
                flex-direction: row;
                justify-content: space-between;

                &>#partie1 {
                    &>h4 {
                        color: $cvert;
                        margin-bottom: 10px;
                    }

                    &>p {
                        width: 200px;
                        color: $cmarron;
                    }
                }

                &>#partie2 {
                    &>h4 {
                        color: $cvert;
                        margin-bottom: 10px;
                    }

                    &>p {
                        width: 200px;
                        color: $cmarron;
                    }

                    &>a {

                        &>button {
                            width: 100px;
                            height: 25px;
                            background-color: $cvert;
                            color: white;
                            margin-top: 10px;
                        }
                    }


                }

                &>#partie3 {
                    &>h4 {
                        color: $cvert;
                        margin-bottom: 10px;

                    }

                    &>p {
                        width: 200px;
                        color: $cmarron;
                    }
                }
            }

            &>#mentions {
                width: 800px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                &>h6 {
                    color: $cmarron;
                }

                &>a {
                    color: $cmarron;
                }

                &>p {
                    color: $cmarron;
                }

                &>img {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }

    /*section-accueil*/
    #accueil {

        &>.carousel-content {
            width: 100%;
            display: flex;

            &>.first-child {
                width: 1200px;

                // background-image: url('../img/accueil/sliders-accueil/slide-1/gazon.mp4') no-repeat;
                // background-size: cover;

                &>#slide1 {
                    width: 1200px;
                    height: 600px;
                    transition: transform 2s linear;
                    animation: scroll 200s infinite;




                    &>aside {
                        display: none;
                        width: 500px;
                        height: 300px;
                        background-color: $cardSlide;

                        z-index: 10000;

                        &>.logo {
                            width: 150px;
                            height: 100px;
                        }
                    }
                }
            }

            &>.second-child {
                width: 1200px;



                &>#slide2 {


                    display: flex;


                    &>#slide2-left {
                        width: 400px;
                        display: flex;
                        flex-direction: column;





                    }

                    &>#slide2-middle {
                        width: 400px;

                        &>img {
                            width: 400px;
                            height: 100%;

                        }


                    }

                    &>#slide2-right {
                        width: 400px;
                        display: flex;
                        flex-direction: column;




                    }
                }

            }

            &>.last-child {
                width: 1200px;
                height: 600px;

                &>#slide3 {
                    width: 100%;
                    display: flex;

                    &>#bouton-contact {
                        width: 900px;
                        height: 600px;

                        background-image: url('../img/accueil/sliders-accueil/slide-3/petit-fond-contact-slide.png');

                        &>#plaquette-contact {
                            width: 600px;
                            height: 300px;
                            background-color: $cmarron;
                            opacity: 0.5;
                        }
                    }



                    &>img {
                        width: 150px;
                        height: 600px;
                    }

                }
            }
        }

        &>#bouton-slider-accueil {
            display: flex;
            justify-content: center;


            &>#bouton-gauche {
                width: 100px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $cvert;
                border-radius: 100px;
                color: white;

            }

            &>#bouton-droit {
                width: 100px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $cvert;
                border-radius: 100px;
                color: white;

            }

        }

        &>#presentation {
            width: 100%;
            display: flex;
            background-image: url('../img/brown-point-fond.png');
            margin-top: 50px;



            &>#bio {
                width: 50%;
                border: 1px solid $cvert;


                transition: slide 1s ease both;

                @keyframes slide {
                    0% {
                        transform: translateX(-100%);
                    }

                    100% {
                        transform: translateX(0);
                    }

                }

                &>#prez {
                    color: $cvert;
                }
            }



            &>#illustrations {
                width: 50%;
                border: 1px solid $cvert;


            }
        }


    }

}

/****************CSS*MOBILE*********/
// @media screen and (min-width: 390px) {

//     .header-mobile {
//         display: flex;
//         flex-direction: row;
//         justify-content: space-around;



//         &>#logo-lien-accueil {
//             width: 20%;



//             &>.logo {


//             }
//         }

//         &>.menus-m{
//             display: none;
//            }

//            &>#menus-burger{
//             width: 60px;
//             height: 60px;
//             color: $cvert;
//            }


//     }

//     /*section-accueil*/
//     #accueil {

//         &>.carousel-content {

//             display: none;

//             &>.first-child {
//                 width: 100%;
//                 // background: url('../img/accueil/sliders-accueil/slide-1/gazon.mp4') no-repeat;
//                 // background-size: cover;

//                 &>#slide1 {
//                     width: 100%;

//                     &>source {
//                         width: 1200px;
//                     }


//                     &>aside {
//                         width: 500px;
//                         height: 300px;
//                         background-color: $cardSlide;

//                         z-index: 10000;

//                         &>.logo {
//                             width: 150px;
//                             height: 100px;
//                         }
//                     }
//                 }
//             }

//             &>.second-child {
//                 width: 100%;

//                 &>#slide2 {
//                     width: 100%;
//                     height: 600px;
//                     display: flex;

//                     &>#slide2-left {
//                         width: 400px;

//                         &>img {
//                             width: 400px
//                         }

//                         ;
//                     }

//                     &>#slide2-middle {
//                         width: 400px;

//                         &>img {
//                             width: 400px;
//                             height: 100%;
//                             border-bottom: 4px solid $cvert;

//                         }


//                     }

//                     &>#slide2-right {
//                         width: 400px;

//                         &>img {
//                             width: 400px;
//                         }


//                     }
//                 }

//             }

//             &>.last-child {
//                 width: 100%;

//                 &>#slide3 {
//                     width: 100%;
//                 }
//             }
//         }

//         &>#presentation {
//             width: 100%;
//             display: flex;
//             background-image: url('../img/brown-point-fond.png');
//             margin-top: 50px;

//             &>#bio {
//                 width: 50%;
//                 border: 1px solid $cvert;

//                 &>#prez {
//                     color: $cvert;
//                 }
//             }

//             &>#illustrations {
//                 width: 50%;
//                 border: 1px solid $cvert;


//             }
//         }
//     }

// }