{% extends 'base.html.twig' %}

{% block title %}CaultPaysages | Prestation{% endblock %}

{% block body %}
{% block content %}

		<section id="prestation" class="row-limit-size">
            <div id="interface-prestation">
                <div class="interface-prestation-colonnes">
                    <div id="equipement" class="squelette-interface-prestation">
                        <h3>equipement</h3>
                        <ul>
                            <li><a href="">tondeuse</a></li>
                            <li><a href="">secateur</a></li>
                            <li><a href="">rotofileur</a></li>
                            <li><a href="">débroussailleuse</a></li>
                            <li><a href="">autres</a></li>
                        </ul>
                    </div>
                    <div id="pelouse" class="squelette-interface-prestation">
                        <h3>pelouse</h3>
                        <ul>
                            <li><a href="">tonte</a></li>
                            <li><a href="">entretien</a></li>
                        </ul>
                    </div>
                    <div id="amenagement"class="squelette-interface-prestation">
                        <h3>aménagements</h3>
                        <ul>
                            <li><a href="">terrasse</a></li>
                            <li><a href="">cloture</a></li>
                            <li><a href="">créations</a></li>
                            <li><a href="">plantations</a></li>
                        </ul>
                    </div>
                </div>
                <div class="interface-prestation-colonnes">
                    <div id="arbuste" class="squelette-interface-prestation">
                        <h3>arbuste</h3>
                        <ul>
                            <li><a href="">arrosage</a></li>
                            <li><a href="">taille</a></li>
                            <li><a href="">débroussaillage</a></li>
                            <li><a href="">plantations</a></li>
                        </ul>

                    </div>
                    <div id="jardin" class="squelette-interface-prestation">
                        <h3>jardin</h3>
                        <ul>
                            <li><a href="">créations</a></li>
                            <li><a href="">plantations</a></li>
                            <li><a href="">entretiens</a></li>
                            <li><a href="">aménagements</a></li>
                        </ul>
                    </div>
                </div>
                <div class="interface-prestation-colonnes">
                    <div id="entretien"class="squelette-interface-prestation">
                        <h3>entretien</h3>
                        <ul>
                            <li><a href="">tonte</a></li>
                            <li><a href="">taille</a></li>
                            <li><a href="">désherbage</a></li>
                            <li><a href="">arrosage</a></li>
                        </ul>
                    </div>
                    <div id="haie" class="squelette-interface-prestation">
                        <h3>haie</h3>
                        <ul>
                            <li><a href="">taille</a></li>
                            
                        </ul>
                    </div>
                    <div id="gestion-dechet" class="squelette-interface-prestation">
                        <h3>gestion des déchets</h3>
                        <ul>
                            <li><a href="">recyclage</a></li>
                            <li><a href="">produit</a></li>
                        </ul>
                    </div>
                </div>
            
            </div>

				


									
					
			
	


			


		</section>


	{% endblock %}
{% endblock %}
